/**
* 為了調整footer置底
*/
html, body {
  height: 100vh;
}

#__nuxt, #__layout, #__layout > div {
  height: 100vh;
}

.article {
  margin-bottom: 50px;

  &__slug {
    text-indent: 1em;
  }

  &__date {
    font-weight: bolder;
    &::after {
      content: "\B7";
      padding-right: 0.5em;
      padding-left: 0.5em;
    }
  }

  &__divider {
    background-color: $primary-color;
    width: 80px;
    height: 2px;
  }
}
