@mixin link-animation($color) {
  background-size: 0% 1px;
  background-repeat: no-repeat;
  background-position: bottom left;
  background-image: linear-gradient(0,transparent 0%,$color 0);
  transition: background linear .1s;
  &:hover {
    background-size: 100% 1px;
    text-decoration: none;
  }
}
