@use "sass:color";

$primary-color: #1dc8cd;
$secondary-color: color.adjust($primary-color, $saturation: 25%, $lightness: 50%);
$tertiary-color: #1de099;
$marked-primary-color: #c91414;
$marked-secondary-color: color.adjust($marked-primary-color, $saturation: 25%, $lightness: 50%);
